.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:50px ;
}

.button{
 width: 50%;
 height: 50px;
 line-height: 50px;
 background-color: #55a3f0;
 color: #fff;
 text-align: center;
 font-size: 15px;
 border-radius: 15px;
 border: none;
}

.button a{
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}
